absl-py>=0.9.0
astunparse>=1.6.3
attrs>=19.3.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
blis>=0.4.1
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1590102546082/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1590099921375/work
brotlipy>=0.7.0
cachetools>=4.1.0
catalogue>=1.0.0
certifi>=2020.6.20
cffi>=1.14.0
chardet>=3.0.4
click>=7.1.2
cryptography>=2.9.2
cymem>=2.0.3
decorator>=4.4.2
dill>=0.3.2
docutils>=0.15.2
entrypoints>=0.3
filelock>=3.0.12
future>=0.18.2
gast>=0.3.3
google-auth>=1.18.0
google-auth-oauthlib>=0.4.1
google-pasta>=0.2.0
grpcio>=1.29.0
h5py>=2.10.0
idna>=2.9
importlib-metadata>=1.6.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1594210140528/work/dist/ipykernel-5.3.2-py3-none-any.whl
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1593235467607/work
ipython-genutils>=0.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1592619931925/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1589369830981/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1589812474002/work
jsonschema>=3.2.0
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1593562235049/work
jupyter-core>=4.6.3
Keras-Preprocessing>=1.1.2
Markdown>=3.2.2
mkl-service>=2.3.0
murmurhash>=1.0.0
nlp>=0.3.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1588605082776/work
oauthlib>=3.1.0
opt-einsum>=3.2.1
packaging>=20.4
parso>=0.7.0
pexpect>=4.8.0
pickleshare>=0.7.5
plac>=0.9.6
preshed>=3.0.2
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1592500439797/work
protobuf>=3.12.2
ptyprocess>=0.6.0
pyarrow>=0.17.1
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
pycparser>=2.20
Pygments>=2.6.1
pyOpenSSL>=19.1.0
pyparsing>=2.4.7
pyrsistent>=0.16.0
PySocks>=1.7.1
python-dateutil>=2.8.1
pytorch-lightning>=0.8.1
pywikibot>=3.0.20200609
PyYAML>=5.3.1
pyzmq>=19.0.1
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1589465125099/work
requests>=2.23.0
requests-oauthlib>=1.3.0
rsa>=4.6
s3transfer>=0.3.3
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1588857588528/work
scikit-learn>=0.23.1
scipy>=1.4.1
sentencepiece>=0.1.91
sh>=1.13.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sklearn>=0.0
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1589387598583/work
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1589222428033/work
tensorboard>=2.2.2
tensorboard-plugin-wit>=1.6.0.post3
tensorflow>=2.2.0
tensorflow-estimator>=2.2.0
termcolor>=1.1.0
thinc>=7.4.0
threadpoolctl>=2.0.0
tokenizers>=0.8.1rc1
torch>=1.4.0
tornado>=6.0.4
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1588513834538/work
traitlets>=4.3.3
transformers @ git+https://github.com/huggingface/transformers@02a0b43014ac333a169e99d76aaba023a316e384
urllib3>=1.25.9
wasabi>=0.6.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1592931742287/work
Werkzeug>=1.0.1
wrapt>=1.12.1
zipp>=3.1.0
